@media screen and (max-width: 480px) {
    .foreword img,
    .footer img {
        height: 100%;
    }
}

html,
body {
    margin: 0 auto;
    padding: 0;
    max-width: 375px;
    min-height: 100%;
    font-family: "Hiragino Sans GB", "Microsoft Yahei";
    font-size: 14px;
    overflow: hidden;
}

body {
    padding-bottom: 270px;
}

#main {
    position: relative;
    min-height: 100%;
}

.header {
    position: relative;
    padding-bottom: 50px;
}

.header .cover {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #cccccc;
}

.header .avatar {
    position: absolute;
    bottom: 27px;
    right: 10px;
    width: 75px;
    height: 75px;
    border: 1px solid #cccccc;
}

.header .text {
    position: absolute;
    bottom: 4px;
    right: 10px;
    margin: 0;
    font-size: 12px;
    color: #8a8a8a;
}

.header .nickname {
    position: absolute;
    bottom: 60px;
    right: 100px;
    margin: 0;
    font-size: 16px;
    color: #fff;
    text-shadow: 2px 2px #2e87db;
}

.content {
    margin-top: 30px;
}

.content .msg {
    position: relative;
    margin-bottom: 20px;
    padding: 0 10px 15px 65px;
    border-bottom: 1px solid #cccccc;
}

.msg .avatar {
    position: absolute;
    left: 10px;
    top: 0;
    width: 45px;
    height: 45px;
}

.msg .nickname,
.msg .text {
    margin: 5px 0;
    font-size: 16px;
}

.msg .nickname {
    font-weight: bold;
    color: #536792;
}

.msg .alter {
    margin-top: 10px;
}

.msg .alter img {
    width: 230px;
}

.msg .alter video {
    width: 230px;
}

.msg .date {
    margin: 5px 0;
    font-size: 12px;
    color: #8a8a8a;
    background-image: url(image/icon_comment.png);
    background-position: right center;
    background-repeat: no-repeat;
}

.msg .comm,
.msg .like {
    padding-top: 5px;
    background-image: url(image/icon_triangle.png);
    background-position: 15px 0;
    background-repeat: no-repeat;
}

.msg .comm p {
    margin: 0;
    padding: 4px 7px 0 7px;
    background-color: #f3f2f8;
    color: #535353;
}

.msg .like p {
    margin: 0;
    padding: 4px 7px 0 7px;
    background-color: #f3f2f8;
    color: #536792;
    text-indent: 1.5em;
    background-image: url(image/icon_like.png);
    background-position: 10px 9px;
    background-repeat: no-repeat;
}

.msg .comm p:last-child,
.msg .like p:last-child {
    padding: 4px 7px;
}

.msg .comm p span {
    color: #536792;
}

.spirit {
    position: fixed;
    bottom: 50px;
    right: 0;
    width: 100px;
}

.spirit img {
    width: 100%
}

.foreword {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 375px;
    background-color: #fff;
    opacity: 1;
}

.foreword img {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 375px;
    opacity: 0;
}

.footer img {
    width: 100%;
}